head {
  overflow: hidden
}

body {
  font-family: 'Roboto';
  font-weight: 300;
  
  margin-top: 10px;

  background-color: var(--bgcolor, black);
  color: var(--fontcolor, white);
  transition: color 1s ease;
  transition: background 0.3s;
}

.textclass {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  
  line-height: 25px;
  position: relative;
  width: 100%;
  height: 100%;

  color: var(--fontcolor, white);
  background-color: var(--bgcolor, black);
  transition: color 1s ease;
  transition: background 0.3s;

  resize: none;
  outline: none;
  border: none;
  overflow: hidden
}

.renderblock {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;

  margin-top: 10px;

  background: var(--bgcolor, black);
  color: var(--fontcolor, white);
  transition: color 1s ease;
  transition: background 0.3s;
}

.menu {
  position: absolute;
}

h1 {
  margin-top: 0px;
}

code {
  color: black;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

ion-icon {
  font-size: 25px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

::placeholder {
  color: var(--fontcolor);
}