@font-face {
  font-family: "Poppins Bold";
  src: url("./Poppins-SemiBold.ttf")
}

@media all and (min-width: 100px) and (max-width: 700px) {
  
  #menu {
    width: 100% !important;
  }
  
  #raw-content, #rendered-content {
    top: 65px !important;
    min-height: 80vh !important;
    line-height: 1em !important;
    font-size: 1em !important;
    padding-bottom: 200px;
  }

  body {
    overflow: visible !important;
  }

  #menu ion-icon {
    display: none !important;
  }

  #menu {
    text-align: center !important;
    padding: 15px !important;
  }

  #menu img {
    width: 90px !important;
  }

  #bottom-menu {
    background: var(--bgcolor);
    z-index: 99;
    display: block;
    position: fixed;
    bottom: 0;
    width: calc( 100% - 50px);
    display: flex;
    gap: 25px;
    padding: 25px;
    justify-content: center;
  }
} 

:root {
  --fontcolor: white;
  --bgcolor: black;
  --bgcode: #272727;
  --fontcode: #B9BBBE;
  --selectionbg: white;
  --selectioncolor: black;
}

head {
  overflow: hidden
}

body {
  font-family: "Poppins";
  overflow: hidden;

  background-color: var(--bgcolor, black);
  color: var(--fontcolor, white);
  transition: color 1s ease background 0.3s;
  margin: 0px;
}

#content {
  padding-top: 10px;
  margin: 10px;
  margin-right: 0px;
}

#raw-content {
  position: relative;
  width: 100%;
  height: 100%;

  color: var(--fontcolor, white);
  background-color: var(--bgcolor, black);
  transition: color 1s ease background 0.3s;

  resize: none;
  outline: none;
  border: none;
  overflow: hidden;
}

#rendered-content {
  background: var(--bgcolor, black);
  color: var(--fontcolor, white);
  transition: color 1s ease background 0.3s;
  height: 100%;
}

#rendered-content, #raw-content {
  position: fixed;
  top: 15px;
  font-family: "Poppins Bold";
  overflow: hidden;
  font-size: 25px;
  line-height: 1.2em;
  padding: 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0px 15px 0px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

hr {
  border-top: 1px solid var(--fontcolor, white);
}

code {
  font-family: monospace;
  color: var(--fontcode, #B9BBBE);
  background-color: var(--bgcode, #272727);
  border-radius: 5px;
  display: block;
  padding: 15px;
  white-space: pre
}

maths {
  font-family: times new roman;
  color: var(--fontcode, #B9BBBE);
  background-color: var(--bgcode, #272727);
  border-radius: 5px;
  display: block;
  padding: 15px;
  white-space: pre
}

quote {
  padding: 15px;
  border-left: 2px solid var(--fontcode);
  color: var(--fontcode);
  display: block;
  background: var(--bgcode);
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}

ion-icon {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

#menu {
  text-align: right;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 99;
  padding: 10px;
  background: var(--bgcolor, black);
}

#menu ion-icon {
  vertical-align: top;
}

#dropmenu {
  position: fixed;
  right: 0px;
  top: 45px;
  z-index: 80;
  padding: 10px;
  background: var(--bgcolor, black);
  transition: top 0.5s;
}

#dropmenu li, #widgetmenu li, #presmenu li, #dicomenu li {
  list-style: none;
}

#dropmenu.closed {
  top: -140px;
}

p {
  margin: 0px;
}

li {
  position: relative;
  left: 10px;
  list-style: square;
}

li span {
  position: relative;
  left: -10px;
}

red {
  color: red
}

green {
  color: #438443
}

yellow {
  color: yellow
}

blue {
  color: #2990ff
}

grey {
  color: #8f8f8f
}

pink {
  color: #f051eb
}

lightyellow {
  color: #fdfdaf
}

lightgreen {
  color: #b2ffa8
}

orange {
  color: #CE9178
}

.widget {
  background-color: var(--bgcode, #272727);
  border-radius: 5px;
  display: block;
  padding: 15px;
  width: fit-content;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.fraction > span { 
  display: block; 
  padding: 0.1em; 
}

.fraction span.fdn {
  border-top: thin solid var(--fontcode, #B9BBBE);
}

.fraction span.bar {display: none;}

::selection {
  background-color: var(--selectionbg, white);
  color: var(--selectioncolor, black)
}

#filemenu, #widgetmenu, #widgetoptions, #presmenu, #dicomenu {
  border: solid 2px #272727;
  padding: 50px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: var(--bgcolor, black);
  z-index: 999;
}

#widgetmenu li {
  padding: 5px;
  cursor: pointer;
}

#widgetmenu li:hover {
  background-color: var(--bgcode, #272727);
}

.hidden {
  display: none;
}

button {
  color: var(--fontcolor, white);
  background: var(--bgcode, #272727);
  padding: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  filter: opacity(0.8)
}

input[type=text], select {
  color: var(--fontcolor, white);
  background: var(--bgcode, #272727);
  padding: 5px;
  border: none;
  outline: none;
  appearance: none;
}

*:focus {
  outline: none;
}

#raw-content::placeholder {
  color: #bababa;
}

#menu img, #menu ion-icon {
  vertical-align: middle;
}

hr {
  background: var(--fontcolor)
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 2px solid white;
}

table th {
  background: var(--fontcolor);
  color: var(--bgcolor);
}

moy {
  border-top: 1px solid var(--fontcode);
}